<div class="bg-white border" *ngIf="animal$ | async as animal">
  <div class="row">
    <div class="col-lg-8">
      <app-animal [url]="animal.url" [description]="animal.description"></app-animal>
    </div>
    <div class="col-lg-4">
      <small>
        <p class="text-left break-word">{{animal.description}}</p>
        <i (click)="likeAnimal()" class="fa fa-heart-o fa-2x pull-left">{{animal.likes}}</i>
        <i class="fa fa-comment-o fa-2x pull-left ms-3">{{animal.comments}}</i>
        <i (click)="deleteAnimal()" class="fa fa-trash-o fa-2x pull-right "></i>
      </small>

      <app-comments [id]="animal.id" *ngIf="animal.allowComments; else warning"></app-comments>

      <ng-template #warning>
        <p class="text-danger">Usuário não pode comentar o animal</p>
      </ng-template>
    </div>
  </div>
</div>
