<h4 class="text-cente">Registre-se e mostre seu pet ao mundo!</h4>

<form class="mt-4" [formGroup]="newUserForm" (submit)="register()">
  <div class="mb-3">
    <input placeholder="E-mail" class="form-control" formControlName="email" />
  </div>
  <div class="mb-3">
    <input placeholder="Nome completo" class="form-control" formControlName="fullName"/>
  </div>
  <div class="mb-3">
    <input placeholder="Usuário" class="form-control" formControlName="userName"/>
  </div>
  <div class="mb-3">
    <input placeholder="Senha" class="form-control" type="password" formControlName="password"/>
  </div>

  <div class="row mx-1">
    <button class="btn btn-primary btn-block">Cadastrar</button>
  </div>
</form>


<p class="text-center mt-2">Ja é um usuário? <a [routerLink]="['']">Faça login</a></p>
